<div class="container">
  <h2><%= @deck.name %></h2>
	<div class="card">
		<% if @card %>
			Card <%= @round.guesses.length + 1 %> of <%= @round.deck.cards.length %>
			<p><%= @card.term %></p>
			<form action="/game/<%=@round.deck.id%>/<%= @card.id %>" method="post" >
				<input type="text" name="answer" placeholder="answer" autofocus="autofocus"/><br>
				<button type="submit" />Submit</button>
			</form>
 
			  <% if @guess %>

					<% if @is_correct == "correct!" %>
						<div class="correct">
					<% else %>	
						<div class="incorrect">
					<% end %>	
						Your last guess "<%= @guess %>" was...<%= @is_correct %><br><br>
						The correct answer for "<%= @previous_card.term %>" is...<br><br> "<%= @previous_card.definition %>""
						</div>

				<% end %>





		<% else %>
			<h1> Good Job, head over to the dashboard to view your results </h1>
			<a href="/">Results</a>
		<% end %>
	</div>
</div>
