<div class="container">
<h2>Welcome <%= @current_user.email %></h2>

<h2>Stats</h2>

Total rounds for user
<%= @current_user.rounds.length %></br>
Total guesses for user
<%= @current_user.guesses %></br>

<table border="1">

<tr>
  <th>Deck</th>
  <th>Played</th>
  <th>Average</th>
</tr>

<% 0.upto(@decks.length-1) do |x| %>

<tr>
<td><%= @decks[x].name %></td>
<td><%= @played[x] %></td>
<td><%= @avg[x] %></td>
</tr>

<% end %>

</table>

</div>
