
<h2>Your Latest Stats</h2>

<table class="stats">

	<tr>
		<th>Round</th>
		<th>Time</th>
	  <th>Deck</th>
		<th>Guessed</th>
		<th>Correct</th>		
		<th>Incorrect</th>		
	</tr>
	
	<% rounds = @current_user.rounds.reverse_each.first(10) %>
	
	<% rounds.each do |r| %>
	<% minutes = ((Time.now - r.created_at)/60).floor %>

	<tr>
		<td><%= r.id %></td>
		<td><%= "#{minutes} minutes ago" %></td>
	  <td><%= r.deck.name %></td>
		<td><%= r.guesses.length %></td>
		<td><%= r.guesses.select {|g| g.correct}.count %></td>		
		<td><%= r.guesses.select {|g| g.correct == false}.count %></td>		
	</tr>
		<% end %>
</table>
<% end %>

<% end %>
</div>

  <% end %>

</table>
