
<h2>Welcome <%= @current_user.email %></h2>

<h2>Stats</h2>

Total rounds for user
<%= @current_user.rounds.length %></br>
Total guesses for user
<%= @current_user.guesses %></br>

Choose a flashcard deck:
<% @decks.each do |d| %>
<ul>
  <li><a href="/game/<% d.id %>"><%= d.name %></a></li>
</ul>
<% end %>

<h2>Stats</h2>
<table border="1">

<tr>
  <th>Deck</th>
  <th>Played</th>
  <th>Average</th>
</tr>

<% @decks.each do |x| %>

<!-- <tr>
<td><%= @decks[x].name %></td>
<td><%= @played[x] %></td>
<td><%= @avg[x] %></td> -->
</tr>

<% end %>

</table>